body {
    padding-left: 15%;
    padding-right: 15%;
    margin: 0;
    background-image: url(img/playstation-pattern.png);
    background-color: #dadada;
    height: 100%;
    font-family: 'Nunito', sans-serif;
}

#top-header {
    background-image: url(img/woodHeader.jpg);
    text-shadow: 5px 5px 5px #000; 
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

#top-header table {
    width: 100%;
}

#top-header table tr td {
    width: 80%;
}

#headerIMG {
    padding-top: 5px;
    height: 25%;
    margin-right: 50px;
}   

.top {
    background-color: #313131;
    text-align: right;
    color: #ffffff;
    margin: 0;
}

.about-nav-li{
    list-style-type: none;
    background-color:#1a1a1a;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.about-nav-li li {
    float: left;
    color: #ffffff;
    padding-left: 1%;
}

.about-nav-li li a{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 16px;    
}

.about-nav-li li a:hover{
    background-color: #313131;
    text-shadow: 0 0px 10px #fff;
}

#main {
    margin: 0;
}

.about-article {
    border-radius: 10px;
    border-color: #000;
    border: 1px;
    border-style: solid;
    background-color: #fff;
    margin: 20px;
    padding: 10px;
    padding-left: 80px;
    padding-right: 40px;
}

#bottom {
    background-color: rgb(49, 49, 49);
    text-align: center;
    color: #ffffff;
    padding: 50px;
    margin: 0;
}